PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/smart-campus
JWT_SECRET=supersecret
FIREBASE_DATABASE_URL=https://your-project.firebaseio.com
FIREBASE_API_KEY=your_api_key
FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
FIREBASE_PROJECT_ID=your-project-id
SYNC_INTERVAL=*/1 * * * *
